@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "poppins", sans-serif !important;
    font-feature-settings: "kern" !important;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.5px;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .clip-triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}

input.defaultCheckbox::before {
  color: white;
  opacity: 0;
  height: 16px;
  width: 16px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
}

input:checked.defaultCheckbox::before {
  opacity: 1;
}

@layer components {
  .my-react-select-container .my-react-select__control {
    @apply bg-white border-neutral-200  dark:bg-zinc-800 border dark:border-neutral-700 hover:border-neutral-400 dark:hover:border-neutral-500;
  }

  .my-react-select-container .my-react-select__control--is-focused {
    @apply hover:border-green-500 dark:border-neutral-400 rounded-xl dark:hover:border-green-400 shadow-none;
  }

  .my-react-select-container .my-react-select__menu {
    @apply bg-neutral-100  dark:bg-white/10  dark:border-white/10;
  }

  .my-react-select-container .my-react-select__option {
    @apply text-neutral-600  dark:text-neutral-200 bg-neutral-100 hover:bg-neutral-200 dark:bg-white/10 dark:hover:bg-neutral-800 overflow-y-auto h-11;
  }

  .my-react-select-container .my-react-select__indicator-separator {
    @apply hidden;
  }

  .my-react-select-container .my-react-select__input-container,
  .my-react-select-container .my-react-select__placeholder,
  .my-react-select-container .my-react-select__single-value {
    @apply text-gray-400  dark:text-gray-200;
  }
}
